<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322763054216-b4sn02b82n928qe0nttmjetuc64g8m89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322763054216-b4sn02b82n928qe0nttmjetuc64g8m89</string>
	<key>API_KEY</key>
	<string>AIzaSyCWIQcqcyh5fvIezIL9oUeiQHImSfAZCTY</string>
	<key>GCM_SENDER_ID</key>
	<string>322763054216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaronsquires.pathway</string>
	<key>PROJECT_ID</key>
	<string>pathwayv2</string>
	<key>STORAGE_BUCKET</key>
	<string>pathwayv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322763054216:ios:8181429c963543e4a8d33d</string>
	<key>DATABASE_URL</key>
	<string>https://pathwayv2.firebaseio.com</string>
</dict>
</plist>